<% provide(:title, @segment.name) %>
<h2>
  <%= @segment.name %>
</h2>
TODO!

<p> Description: 
<%= @segment.description %>
</p>

<p> Subtitle: 
<%= @segment.subtitle %>
</p>

<p> Inici: 
<%= @segment.ini_vertex.name %>
</p>

<p> Fi: 
<%= @segment.end_vertex.name %>
</p>

<p> Distancia: 
<%= @segment.distance %>
</p>

<p> Desnivell: 
<%= @segment.height %>
</p>

<p> Temps: 
<%= @segment.time %>
</p>
